/*** CSS for Default visualNav HTML ***/
/* side menu with visualNav */
#sidemenu             { position: fixed; top: 50px; left: 20px; background: #444; width: 120px; }
#sidemenu ul          { list-style-type: none; margin: 0; padding: 0; }
#sidemenu li          { margin: 5px; padding: 5px; width: 100px; text-align: center; border: transparent 1px solid; }
#sidemenu a           { text-decoration: none; color: #bbbbff; }
#sidemenu a:hover     { color: #fff; }

#sidemenu li.selected { background: #555; }
#sidemenu li.inView   { border-color: #111; }

/* main content header & wrapper */
.content              { min-width: 500px; background: #363636; border: #555 1px solid; margin: 10px 20px 50px 170px; padding: 10px 20px; }

/*** Demo ***/
body               { background: #333; color: #ddd; }
a:link             { color: #fc0; }
a:hover            { color: #fff; }
a:visited,a:active { color: #f80; }

/* demo content */
.content h2        { margin: 5px 5px 20px 5px; }
.content br        { clear: both; }
.content li        { padding-right: 25px; }

.right             { float: right; padding: 5px 8px; }
.right a, .left a  { font-size: 12px; padding: 0 10px; }
.left img          { float: left; margin-right: 10px; }
.left p            { padding-left: 5px; }

/* footer */
#footer            { height: 50px; padding: 10px; background: #444; text-align: center; font-size: 0.8em; }
.spacer            { height: 100px; }
